@import '../../variables';

/* * {
    margin: 0!important;
    padding: 0;
    box-sizing: border-box!important;
  } */

.card{
    display: flex;
    padding: 1rem 0 1rem 0;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid $background-gray;
}

.products_card {
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 115px;
}

.address{
    position: absolute;
    right: 1.5rem;
    margin-top: 1rem;
}

p{
    margin: 0!important;
}