@import '../../variables';

.form {    
    border: 1px $background-gray ;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 40px;
    background-color: $background-white;
    box-sizing: content-box;
    border-radius: 5px;
    display: flex;
}

.input {
    border-radius: 5px;
    background-color: $background-white;
    border: 0 rgba(0,0,0,.2);
    box-sizing: border-box;
    height: 100%;
    color: #333;
    padding: .5rem 0 .5rem 1rem;
    width: 95%;
}

.btn_search{
    width: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}